// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$mlFinances-red:#d10000;
$mlFinances-gray:#f1f1f1;
$mlFinances-dark:#131313;
$mlFinances-green:#4ead00;
$mlFinances-blue:#0044d8;