// Variables
@import '_variables';



// Navbar
@import 'navbar';
@import 'buttons';

// Footer
@import 'footer';

// Movimientos y prestamos
@import 'movimientos';

// Estilo de la pantalla principal de admin
@import 'mainAdmin';


.border-red {
    border: 2px solid;
    border-color: $mlFinances-red;
    border-radius: 6px;
}

.max-width-currency{
    max-width: 26em;
}