.bg-navbar {
  background-color: #d10000;
}

.button-green {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: lighter;
  background-color: #4ead00;
}

.button-red {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: lighter;
  background-color: #d10000;
}

.button-blue {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: lighter;
  background-color: #0044d8;
}

.footer {
  color: #f1f1f1;
  font-size: smaller;
  font-weight: 100;
  background-color: #131313;
  padding: 4em;
}