.bg-navbar {
  background-color: #d10000;
}

.button-green {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: lighter;
  background-color: #4ead00;
}

.button-red {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: lighter;
  background-color: #d10000;
}

.button-blue {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: lighter;
  background-color: #0044d8;
}

.footer h5 {
  color: #f1f1f1;
  text-align: center;
  font-size: larger;
  font-weight: 200;
}

.footer {
  background-color: #131313;
  padding: 4em;
  margin-top: 16em;
}
.footer p, .footer li {
  color: #f1f1f1;
  font-size: smaller;
  text-align: center;
  font-weight: 100;
}